cmdbox
faster-whisper
#pyyaml
#transformers
#sacremoses
#sentencepiece
soundcard
soundfile
#torch
#torchvision
#torchaudio
sphinx
sphinx-rtd-theme
sphinx_fontawesome
sphinx-intl
sphinx-sitemap
twine
wheel
